.wrapper {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr, 1fr);
  grid-template-row: repeat(1fr, 1fr, 1fr);
  grid-gap: 10px;
  margin: 0 auto; }
  @media only screen and (max-width: 539px) {
    .wrapper {
      width: 100%;
      grid-template-columns: 1; } }
  @media only screen and (min-width: 540px) and (max-width: 719px) {
    .wrapper {
      width: 540px; } }
  @media only screen and (min-width: 720px) and (max-width: 899px) {
    .wrapper {
      width: 720px; } }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    .wrapper {
      width: 900px; } }
  @media only screen and (min-width: 1200px) {
    .wrapper {
      width: 1200px; } }

.gridded {
  border: 1px solid red; }

.fa {
  color: #444;
  font-size: 50px; }

.one {
  grid-column: 1;
  grid-row: 1; }

.two {
  grid-column: 2/4;
  grid-row: 1; }

.three {
  grid-column: 1/3;
  grid-row: 2; }

.four {
  grid-column: 3;
  grid-row: 2;
  text-align: right; }

.five {
  grid-column: 1;
  grid-row: 3; }

.six {
  grid-column: 2/4;
  grid-row: 3; }

.seven {
  grid-column: 1/3;
  grid-row: 4; }

.eight {
  grid-column: 3;
  grid-row: 4;
  text-align: right; }

.nine {
  grid-column: 1;
  grid-row: 5; }

.ten {
  grid-column: 2/4;
  grid-row: 5; }
